* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ibarra Real Nova', serif;
    color: #463f3a;
}

main {
    margin: 2rem;
}

a {
    text-decoration: none;
}

body {
    background-color: #f4f3ee;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.navbar li {
    font-size: 1.5rem;
}

.navbar li:hover {
    text-decoration: underline;
}

#my-name-is {
    opacity: 60%;
}

#welcome {
    display: flex;
    width: 70%;
    align-items: space-between;
    margin: auto;
    margin-top: 1rem;
}

#intro {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 2rem;
}

ul {
    list-style: disc;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#welcome img {
    width: 45%;
    object-fit: scale-down;
}

.container {
    margin: 2rem;
}

@media only screen and (max-width: 1040px) {
    #welcome img {
        display: block;
        width: 100%;
        min-width: 700px;
    }

    #welcome {
        display: block;
        position: relative;
        width: 100%;
    }

    #intro {
        display: block;
        position: relative;
        width: 90%;
    }

    #intro-text {
        position: absolute;
        top: 760px;
        background-color: #f4f3ee;
        opacity: 75%;
    }

    #my-name-is {
        position: absolute;
        top: 600px;
        opacity: 75%;
        background-color: #f4f3ee;
    }

    #intro h1 {
        position: absolute;
        top: 650px;
        background-color: #f4f3ee;
        opacity: 75%;
    }

    main {
        margin: 0px;
    }
}

@media only screen and (max-width: 750px) {
    #intro-text {
        top: 560px;
    }
    
    #my-name-is {
        top: 400px;
    }

    #intro h1 {
        top: 450px;
    }
}

@media only screen and (max-width: 553px) {
    #intro-text {
        top: 660px;
    }
}